header {
    background-color: #59cfa9;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    margin: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 18%;
    padding: 5px 10px;
    background-color: #232931;
    border: 1px solid #eac102;
    text-align: center;
    color: #59cfa9;
    border-radius: 15px;
}

nav li:hover {
    background-color: #3f3f3f;
    color: #59cfa9;
}

#izquierda {
    width: 100%;
    text-align: center;
}

#derecha {
    width: 30%;
    text-align: center;
}


.logo {
    width: 200px;
    margin-top: 10px;
}


.icono #busqueda {
    width: 20px;
    height: 20px;
    margin-left: 10px; 
}


.icono{
    width: 20px;
    height: 20px;
}

#recientes {
    padding: 20px;
}


#recomendaciones {
    padding: 20px;
}

main {
    margin-top: 20px; 
    overflow-x: hidden;
    height: 100%;
}

article{
    max-width: 50%;
    padding: 15px;
}

#recientes, #recomendaciones {
    max-height: 100%;
    overflow-y: auto;
}

#recientes .articulo, #recomendaciones .articulo{
    padding: 20px;
    display: flex;
    flex-direction: row; /* Alinear los artículos horizontalmente */
    flex-wrap: nowrap; /* Evitar que los artículos se envuelvan a la siguiente línea */
}



section{
    width: 100%;
    display: block;
}


footer {
    background-color: #59cfa9;
    text-align: center;
    width: 100%;
}

img.principal {
    width: 240px;
    height: 135px;
}
