main {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    overflow-x: hidden;
}

/* Recientes y recomendados */
h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Contenedor de artículos */
.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Para dar efecto de artículo individual */
article {
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s;
}

article:hover {
    transform: scale(1.03);
}

/* Enlaces */
article a {
    color: #232931;
    text-decoration: none;
    display: block;
}

/* Imágenes */
article img {
    width: 100%;
    height: auto;
    display: block;
}

/* Títulos de artículo */
article h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 5px 0;
    padding: 0 10px;
}

article p {
    margin: 0;
    padding: 0 10px 10px 10px;
}

article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Se mostrarán en vertical*/
@media (max-width: 768px) {
    article {
        flex: 0 1 calc(100% - 20px);
    }
}
